<div class="container">

  <h1><strong>Estado:</strong></h1>
  <hr>

  <div class="row">
    <div class="col md-4 text-left">
      <h2>Datos</h2>

      <h3>
        Clave
      </h3>
      <br>
      <p>

      </p>
      <h3>
        Población
      </h3>
      <br>
      <p>

      </p>
      <h3>
        vivienda
      </h3>
      <br>



    </div>
    <div class="col md-4 text-center">
      <app-grafica></app-grafica>
    </div>
  </div>
  <div class="row">
    <h1><strong>Municipios:</strong></h1>
  </div>
</div>
